# Dependências
node_modules/
.npm/

# Ambiente e Segredos
.env
.env.local
.env.production
*.log

# Build e Saída
dist/
build/
.next/
out/
bin/
obj/

# Prisma
/backend/prisma/*.db
/backend/prisma/*.db-journal

# IDEs
.vscode/
.idea/
*.swp
*.swo

# SO
Thumbs.db
.DS_Store
backend/uploads/items/cmp3umeet0005hx4oy7th9anz/photo-1779723406475.jpg
backend/uploads/items/cmp3umeet0005hx4oy7th9anz/photo-1779723505236.jpg
backend/uploads/items/cmp3umeet0005hx4oy7th9anz/photo-1779723604508.jpg
backend/uploads/items/cmp4j0fnd000ahxyg6fev24ic/photo-1779723376262.jpg
backend/uploads/items/cmp4j0fnd000ahxyg6fev24ic/photo-1779723380888.jpg
backend/uploads/items/cmp4j0fnd000ahxyg6fev24ic/photo-1779723427573.jpg
backend/uploads/products/cmp3umeee0002hx4oomfymx9g/photo-1779723353806.jpg
backend/uploads/products/cmp3umeee0002hx4oomfymx9g/photo-1779723630889.jpg
backend/uploads/products/cmp3umeee0002hx4oomfymx9g/photo-1779782262007.jpg
backend/uploads/products/cmp85vo3h002bhxxkaxk5i0mk/photo-1779782363518.jpg
