@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  .brand-display {
    font-family: 'Outfit', sans-serif;
  }
}

@layer components {
  /* Estilos específicos podem ser adicionados aqui */
}
